<?xml version="1.0"?>
<config>
    <modules>
        <Leytech_RestrictAccess>
            <version>1.0.0</version>
        </Leytech_RestrictAccess>
    </modules>
    <global>
        <models>
            <leytech_restrictaccess>
                <class>Leytech_RestrictAccess_Model</class>
            </leytech_restrictaccess>
        </models>
        <helpers>
            <leytech_restrictaccess>
                <class>Leytech_RestrictAccess_Helper</class>
            </leytech_restrictaccess>
        </helpers>
        <events>
            <controller_front_init_before>
                <observers>
                    <leytech_restrictaccess_access_observer>
                        <type>singleton</type>
                        <class>Leytech_RestrictAccess_Model_Observer</class>
                        <method>checkAccess</method>
                    </leytech_restrictaccess_access_observer>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <default>
        <leytech_restrictaccess>
            <settings>
                <enable_ext>0</enable_ext>
                <allowed_ips></allowed_ips>
                <message>Access denied.</message>
            </settings>
        </leytech_restrictaccess>
    </default>
</config>