<?xml version="1.0"?>
<!--
/**
 * @package    Leytech_RestrictAccess
 * @author     Chris Nolan (chris@leytech.co.uk)
 * @copyright  Copyright (c) 2017 Leytech
 * @license    https://opensource.org/licenses/MIT  The MIT License  (MIT)
 */
-->
<config>
    <modules>
        <Leytech_RestrictAccess>
            <version>1.0.1</version>
        </Leytech_RestrictAccess>
    </modules>
    <global>
        <blocks>
            <leytech_restrictaccess>
                <class>Leytech_RestrictAccess_Block</class>
            </leytech_restrictaccess>
        </blocks>
        <models>
            <leytech_restrictaccess>
                <class>Leytech_RestrictAccess_Model</class>
            </leytech_restrictaccess>
        </models>
        <helpers>
            <leytech_restrictaccess>
                <class>Leytech_RestrictAccess_Helper</class>
            </leytech_restrictaccess>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <leytech_restrictaccess_access_observer>
                        <type>singleton</type>
                        <class>Leytech_RestrictAccess_Model_Observer</class>
                        <method>checkAccess</method>
                    </leytech_restrictaccess_access_observer>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <leytech_restrictaccess>
                    <file>leytech/restrictaccess.xml</file>
                </leytech_restrictaccess>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <leytech_restrictaccess>
            <settings>
                <enabled>0</enabled>
                <allowed_ips></allowed_ips>
                <allow_empty_ip>0</allow_empty_ip>
                <use_503_error>0</use_503_error>
                <message>Access denied.</message>
                <enable_log>0</enable_log>
                <log_file>restrict-access.log</log_file>
            </settings>
            <admin_access>
                <permitted>0</permitted>
            </admin_access>
        </leytech_restrictaccess>
    </default>
</config>